* {
    font-family: 'Merriweather', serif;
    background-color: gray;
}
.main{
    flex-wrap: wrap;
display: flex;
}

h1{
    display: flex;
    justify-content: center;

}
span{
    display: flex;
margin: 0 auto;
    width: 600px;

}


img {
    height: 350px;
    height: 350px;

    display: flex;
   margin: 0 auto;
}

    li {
        display: flex;
        justify-content: center;
    }
